html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
.card{
    height: 220px;
    width: 150px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}
.card h1{
    font-size: 17px;
    margin: 3px ;
    font-family: sans-serif;
    font-weight: 800;
}
.card h4{
    font-size: 12px;
    color: red;
    margin: 5px ;
    font-family: sans-serif;
}
.card button{
    background-color: cadetblue;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    padding: 8px 6px;
    border-radius: 5px;
    border: none;
    margin:2px;
}
.card button:active{
    transform: scale(0.9);
}